.email-preview {
    display: flex;
    text-align: left;
    padding: 5px;
    background-color: var(--main-bg-color);
    color: var(--secondary-color);
}
.email-preview .email-subject {
    text-transform: capitalize;
}

.email-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.email-header-left {
    display: flex;
    align-items: center;
}

.material-star {
    width: 30px;
}

.material-label {
    width: 30px;
}

.email-checkbox {
    width: 30px;
}

.email-from {
    flex-grow: 2;
    max-width: 15%;
    margin-left: 25px;
}

.email-data {
    flex-grow: 8;
    /* text-align: center; */
    margin-left: 45px;
}
