.email-preview {
    text-align: left;
    padding: 5px;
    background-color: var(--main-bg-color);
    color: var(--secondary-color);
}
.email-preview .email-subject {
    text-transform: capitalize;
}

.email-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.email-header-left {
    display: flex;
    align-items: center;
}
